@page "/access-denied"

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center">
                    <h3>Acceso Denegado</h3>
                </div>
                <div class="text-center mt-2">
                    <span class="text-danger fw-bolder">No tienes permiso para ver esta p&aacute;gina...</span>
                </div>
            </div>
        </div>
    </div>
</div>