@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager

<div class="row">
    <div class="card">
        <div class="card-body flex-column">
            <div class="text-center">
                <h3>Logout</h3>
            </div>
            <div class="text-center mt-2">
                <span class="text-danger fw-bolder">Has cerrado session exitosamente!</span>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout", true);
        }
    }
}